---
# Merging DataFrames with pandas (DataCamp)
---

## Ch1: Preparing Data
---

When data is spread among several files, you usually invoke pandas' read_csv() (or a similar data import function) multiple times to load the data into several DataFrames. (hint use the pandas cheat sheet https://datacamp-community-prod.s3.amazonaws.com/9f0f2ae1-8bd8-4302-a67b-e17f3059d9e8).

Loading data from multiple files into DataFrames is more efficient in a *loop* or a *list comprehension*. The first method consists of creating an empty list where each dataframe will the placede:

```py
# list of files
list = ["file1.csv", "file2.csv"]

# create empty list
dataframe = []

for i in list:
    dataframes.append(pd.read_csv(i))
```

The alternative is to use a comprehension which reproduce the above but with a simpler sintax.

```
list = ["file1.csv", "file2.csv"]
dataframe = [pd.read_csv(i) for i in list]
```

Notice that this approach is not restricted to working with CSV files. That is, even if your data comes in other formats, as long as pandas has a suitable data import function, you can apply a loop or comprehension to generate a list of DataFrames imported from the source files.

In [19]:
#import pandas library
import pandas as pd 

# importing dataframes
bronze = pd.read_csv("C:/repos/data_notes/databases/Summer_Olympic_medals/Bronze.csv")
silver = pd.read_csv("C:/repos/data_notes/databases/Summer_Olympic_medals/Silver.csv")
gold = pd.read_csv("C:/repos/data_notes/databases/Summer_Olympic_medals/Gold.csv")

print(gold.head())

NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

In [20]:
# using a loop

# Create the list of file names: filenames
filenames = ["C:/repos/data_notes/databases/Summer_Olympic_medals/Bronze.csv","C:/repos/data_notes/databases/Summer_Olympic_medals/Silver.csv", "C:/repos/data_notes/databases/Summer_Olympic_medals/Gold.csv"]

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

NOC         Country   Total
0  USA   United States  1052.0
1  URS    Soviet Union   584.0
2  GBR  United Kingdom   505.0
3  FRA          France   475.0
4  GER         Germany   454.0

In this exercise, you'll combine the three DataFrames from earlier exercises - gold, silver, & bronze - into a single DataFrame called medals. The approach you'll use here is clumsy. Later on in the course, you'll see various powerful methods that are frequently used in practice for concatenating or merging DataFrames.

Remember, the column labels of each DataFrame are NOC, Country, and Total, where NOC is a three-letter code for the name of the country and Total is the number of medals of that type won.

In [21]:
# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver["Total"]
medals['Bronze'] = bronze["Total"]

# Print the head of medals
print(medals.head())

NOC         Country    Gold  Silver  Bronze
0  USA   United States  2088.0  1195.0  1052.0
1  URS    Soviet Union   838.0   627.0   584.0
2  GBR  United Kingdom   498.0   591.0   505.0
3  FRA          France   378.0   461.0   475.0
4  GER         Germany   407.0   350.0   454.0

Indexing dataframes is essencial because they are the means by which dataframes rows are labeled. It is often useful to rearrange the sequence of the rows of a DataFrame by sorting. You don't have to implement these yourself; the principal methods for doing this are .sort_index() and .sort_values().

In this exercise, you'll use these methods with a DataFrame of temperature values indexed by month names. You'll sort the rows alphabetically using the Index and numerically using a column. Notice, for this data, the original ordering is probably most useful and intuitive: the purpose here is for you to understand what the sorting methods do.

```py
# Import pandas
import pandas as pd

# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv("monthly_max_temp.csv", index_col = "Month")

# Print the head of weather1
print(weather1.head())

# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index()

# Print the head of weather2
print(weather2.head())

# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending=False)

# Print the head of weather3
print(weather3.head())

# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 = weather1.sort_values('Max TemperatureF', ascending=True)

# Print the head of weather4
print(weather4.head())
```

Sorting methods are not the only way to change DataFrame Indexes. There is also the .reindex() method. In this exercise, you'll reindex a DataFrame of quarterly-sampled mean temperature values to contain monthly samples.

```
# Import pandas
import pandas as pd

# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)

# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)
```

The .ffill() method fills missing values with the one before.

Another common technique is to reindex a DataFrame using the Index of another DataFrame. The DataFrame .reindex() method can accept the Index of a DataFrame or Series as input. You can access the Index of a DataFrame with its .index attribute. The DataFrames names_1981 and names_1881 both have a MultiIndex with levels name and gender giving unique labels to counts in each row.
Your job here is to use the DataFrame .reindex() and .dropna() methods to make a DataFrame common_names counting names from 1881 that were still popular in 1981.

In [34]:
names_1981 = pd.read_csv("C:/repos/data_notes/databases/Baby names/names1981.csv", header=None, names=['name','gender','count'], index_col=(0,1))
names_1881 = pd.read_csv("C:/repos/data_notes/databases/Baby names/names1881.csv", header=None, names=['name','gender','count'], index_col=(0,1))

# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)

# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)

(1935, 1)
(1587, 1)

Remember, ordinary arithmetic operators (like +, -, *, and /) broadcast scalar values to conforming DataFrames when combining scalars & DataFrames in arithmetic expressions. Broadcasting also works with pandas Series and NumPy arrays.

In [39]:
weather = pd.read_csv("C:/repos/data_notes/databases/pittsburgh2013.csv")
temps_f = weather[['Min TemperatureF', 'Mean TemperatureF', 'Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f-32)*5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace("F", "C")

# Print first 5 rows of temps_c
print(temps_c.head())

Min TemperatureC  Mean TemperatureC  Max TemperatureC
0         -6.111111          -2.222222          0.000000
1         -8.333333          -6.111111         -3.888889
2         -8.888889          -4.444444          0.000000
3         -2.777778          -2.222222         -1.111111
4         -3.888889          -1.111111          1.111111

In [41]:
# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv("C:/repos/data_notes/databases/GDP/gdp_usa.csv", parse_dates=True, index_col = "DATE")

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp["2008-01-01":]

# Print the last 8 rows of post2008
print(post2008.tail(8))

# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample("A").last()

# Print yearly
print(yearly)

# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change()*100

# Print yearly again
print(yearly)

VALUE
DATE
2014-07-01  17569.4
2014-10-01  17692.2
2015-01-01  17783.6
2015-04-01  17998.3
2015-07-01  18141.9
2015-10-01  18222.8
2016-01-01  18281.6
2016-04-01  18436.5
              VALUE
DATE
2008-12-31  14549.9
2009-12-31  14566.5
2010-12-31  15230.2
2011-12-31  15785.3
2012-12-31  16297.3
2013-12-31  16999.9
2014-12-31  17692.2
2015-12-31  18222.8
2016-12-31  18436.5
              VALUE    growth
DATE
2008-12-31  14549.9       NaN
2009-12-31  14566.5  0.114090
2010-12-31  15230.2  4.556345
2011-12-31  15785.3  3.644732
2012-12-31  16297.3  3.243524
2013-12-31  16999.9  4.311144
2014-12-31  17692.2  4.072377
2015-12-31  18222.8  2.999062
2016-12-31  18436.5  1.172707

In [43]:
# In this exercise, stock prices in US Dollars for the S&P 500 in 2015 have been obtained from Yahoo Finance. The files sp500.csv for sp500 and exchange.csv for the exchange rates are both provided to you.
#Using the daily exchange rate to Pounds Sterling, your task is to convert both the Open and Close column prices.

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv("C:/repos/data_notes/databases/sp500.csv", parse_dates=True, index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv("C:/repos/data_notes/databases/exchange.csv" , parse_dates=True, index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[["Open", "Close"]]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange["GBP/USD"], axis = "rows")

# Print the head of pounds
print(pounds.head())

Open        Close
Date
2015-01-02  2058.899902  2058.199951
2015-01-05  2054.439941  2020.579956
2015-01-06  2022.150024  2002.609985
2015-01-07  2005.550049  2025.900024
2015-01-08  2030.609985  2062.139893
                   Open        Close
Date
2015-01-02  1340.364425  1339.908750
2015-01-05  1348.616555  1326.389506
2015-01-06  1332.515980  1319.639876
2015-01-07  1330.562125  1344.063112
2015-01-08  1343.268811  1364.126161

## Ch2: Concatenating data
---

`.apend()` stacks rows underneath other dataframe. On the other hand `concat()` does join vertically and horizontally. The append method stacks indexes on top of each other resulting in duplication. This can be solved by addind the argument `.reset_index(drop=True)`.

```
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv("sales-jan-2015.csv", index_col="Date", parse_dates=True)

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv("sales-feb-2015.csv", index_col="Date", parse_dates=True)

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv("sales-mar-2015.csv", index_col="Date", parse_dates=True)

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc["feb 26, 2015":"mar 7, 2015"])

# Compute & print total sales in quarter1
print(quarter1.sum())
```

```
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month["Units"])

# Concatenate the list: quarter1
quarter1 = pd.concat(units, axis="rows")

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])
```

In this exercise, you'll use the Baby Names Dataset (from data.gov) again. This time, both DataFrames names_1981 and names_1881 are loaded without specifying an Index column (so the default Indexes for both are RangeIndexes).

You'll use the DataFrame .append() method to make a DataFrame combined_names. To distinguish rows from the original two DataFrames, you'll add a 'year' column to each with the year (1881 or 1981 in this case). In addition, you'll specify ignore_index=True so that the index values are not used along the concatenation axis. The resulting axis will instead be labeled 0, 1, ..., n-1, which is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information.

In [6]:
import pandas as pd
names_1981 = pd.read_csv("C:/repos/data_notes/databases/Baby names/names1981.csv", header=None, names=['name','gender','count'])
names_1881 = pd.read_csv("C:/repos/data_notes/databases/Baby names/names1881.csv", header=None, names=['name','gender','count'])

# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981, ignore_index=True)

# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)

# Print all rows that contain the name 'Morgan'
print(combined_names.loc[combined_names["name"] == "Morgan"])

(19455, 4)
(1935, 4)
(21390, 4)
         name gender  count  year
1283   Morgan      M     23  1881
2096   Morgan      F   1769  1981
14390  Morgan      M    766  1981

In [1]:
#import pandas library
import pandas as pd 

# importing dataframes
bronze = pd.read_csv("C:/repos/data_notes/databases/Summer_Olympic_medals/Bronze.csv")
silver = pd.read_csv("C:/repos/data_notes/databases/Summer_Olympic_medals/Silver.csv")
gold = pd.read_csv("C:/repos/data_notes/databases/Summer_Olympic_medals/Gold.csv")

When stacking a sequence of DataFrames vertically, it is sometimes desirable to construct a MultiIndex to indicate the DataFrame from which each row originated. This can be done by specifying the keys parameter in the call to pd.concat(), which generates a hierarchical index with the labels from keys as the outermost index label. So you don't have to rename the columns of each DataFrame as you load it. Instead, only the Index column needs to be specified.

In [5]:
import pandas as pd
#empty list
medals = []

# medal type
medal_types = ["bronze", "silver", "gold"]

for medal in medal_types:

    file_name = "C:/repos/data_notes/databases/Summer_Olympic_medals/%s_top5.csv" % medal
    
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, index_col = "Country" )
    
    # Append medal_df to medals
    medals.append(medal_df)
    
# Concatenate medals: medals
medals = pd.concat(medals, keys = ["bronze", "silver", "gold"])

# Print medals in entirety
print(medals)

Total
       Country
bronze United States   1052.0
       Soviet Union     584.0
       United Kingdom   505.0
       France           475.0
       Germany          454.0
silver United States   1195.0
       Soviet Union     627.0
       United Kingdom   591.0
       France           461.0
       Italy            394.0
gold   United States   2088.0
       Soviet Union     838.0
       United Kingdom   498.0
       Italy            460.0
       Germany          407.0

In [6]:
# Sort the entries of medals: medals_sorted
medals_sorted = medals.sort_index(level=0)

# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

# Print data about silver medals
print(medals_sorted.loc['silver'])

# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:,"United Kingdom"],:])

Total    454.0
Name: (bronze, Germany), dtype: float64
                 Total
Country
France           461.0
Italy            394.0
Soviet Union     627.0
United Kingdom   591.0
United States   1195.0
                       Total
       Country
bronze United Kingdom  505.0
gold   United Kingdom  498.0
silver United Kingdom  591.0

```
# Concatenate dataframes: february
february = pd.concat(dataframes, keys=["Hardware", "Software", "Service"], axis = 1)

# Print february.info()
print(february.info())

# Assign pd.IndexSlice: idx
idx = pd.IndexSlice

# Create the slice: slice_2_8
slice_2_8 = february.loc['2015-02-02':'2015-02-08', idx[:, 'Company']]

# Print slice_2_8
print(slice_2_8)

# Make the list of tuples: month_list
month_list = [('january', jan), ('february', feb), ('march', mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby("Company").sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])

```

In [8]:
# Create the list of DataFrames: medal_list
medal_list = [bronze, silver, gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list, keys=['bronze', 'silver', 'gold'], axis=1, join="inner")

# Print medals
print(medals)

bronze                               silver                                \
       NOC               Country   Total    NOC               Country   Total
0      USA         United States  1052.0    USA         United States  1195.0
1      URS          Soviet Union   584.0    URS          Soviet Union   627.0
2      GBR        United Kingdom   505.0    GBR        United Kingdom   591.0
3      FRA                France   475.0    FRA                France   461.0
4      GER               Germany   454.0    GER               Germany   350.0
..     ...                   ...     ...    ...                   ...     ...
133    SEN               Senegal     NaN    SEN               Senegal     1.0
134    SUD                 Sudan     NaN    SUD                 Sudan     1.0
135    TGA                 Tonga     NaN    TGA                 Tonga     1.0
136    BDI               Burundi     NaN    BDI               Burundi     NaN
137    UAE  United Arab Emirates     NaN    UAE  United Arab Emirates     NaN

    gold
     NOC               Country   Total
0    USA         United States  2088.0
1    URS          Soviet Union   838.0
2    GBR        United Kingdom   498.0
3    FRA                France   378.0
4    GER               Germany   407.0
..   ...                   ...     ...
133  SEN               Senegal     NaN
134  SUD                 Sudan     NaN
135  TGA                 Tonga     NaN
136  BDI               Burundi     1.0
137  UAE  United Arab Emirates     1.0

[138 rows x 9 columns]

In this exercise, you'll compare the historical 10-year GDP (Gross Domestic Product) growth in the US and in China. The data for the US starts in 1947 and is recorded quarterly; by contrast, the data for China starts in 1961 and is recorded annually.

You'll need to use a combination of resampling and an inner join to align the index labels. You'll need an appropriate offset alias for resampling, and the method .resample() must be chained with some kind of aggregation method (.pct_change() and .last() in this case).

In [20]:
china = pd.read_csv("C:/repos/data_notes/databases/GDP/gdp_china.csv", index_col = "Year")
us = pd.read_csv("C:/repos/data_notes/databases/GDP/gdp_usa.csv", index_col = "DATE")

china.index = pd.to_datetime(china.index)
us.index = pd.to_datetime(us.index)

# Resample and tidyChina. Resamples data by year, calculate a 10 year percentage change plus drops na
china_annual = china.resample("A").last().pct_change(10).dropna()
us_annual = us.resample("A").last().pct_change(10).dropna()

# join both tables with a inner join
gdp = pd.concat([china_annual, us_annual], axis = 1, join = "inner")

# Resample by decade and print
print(gdp.resample("10A").last())

Empty DataFrame
Columns: [GDP, VALUE]
Index: []

# CH3: Merging Data
---

The `merge()` function extends `concat()` with the ability to align rows using multiple columns.

```py
# Merge revenue with managers on 'city': merge_by_city
merge_by_city = pd.merge(revenue, managers, on = "city")

# Print merge_by_city
print(merge_by_city)

# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue, managers, on = "branch_id")

# Print merge_by_id
print(merge_by_id)

# Merge revenue & managers on 'city' & 'branch': combined
combined = pd.merge(revenue, managers, left_on = "city", right_on = "branch")

# Print combined
print(combined)
```

**What tool to user?**

- .append() to stack verically
- pd.concat() to stack many vertically or horizontally or simpler inner/outer joins on indexes
- .join() inner/outer/left/right join on indexes
- pd.merge() many joins on multiple columns

Similar to pd.merge_ordered(), the pd.merge_asof() function will also merge values in order using the on column, but for each row in the left DataFrame, only rows from the right DataFrame whose 'on' column values are less than the left value will be kept.

# CH4: Case Study
---

Your first task here is to prepare a DataFrame editions from a tab-separated values (TSV) file.

Initially, editions has 26 rows (one for each Olympic edition, i.e., a year in which the Olympics was held) and 7 columns: 'Edition', 'Bronze', 'Gold', 'Silver', 'Grand Total', 'City', and 'Country'.

For the analysis that follows, you won't need the overall medal counts, so you want to keep only the useful columns from editions: 'Edition', 'Grand Total', City, and Country.

In [2]:
import pandas as pd

# Create file path: file_path
file_path = "C:/repos/data_notes/databases/Summer_Olympic_medals/Summer Olympic medalists 1896 to 2008 - EDITIONS.tsv"

# Load DataFrame from file_path: editions
editions = pd.read_csv(file_path, sep="\t")

# Extract the relevant columns: editions
editions = editions[["Edition", "Grand Total", "City", "Country"]]

# Print editions DataFrame
print(editions)

Edition  Grand Total         City                     Country
0      1896          151       Athens                      Greece
1      1900          512        Paris                      France
2      1904          470    St. Louis               United States
3      1908          804       London              United Kingdom
4      1912          885    Stockholm                      Sweden
5      1920         1298      Antwerp                     Belgium
6      1924          884        Paris                      France
7      1928          710    Amsterdam                 Netherlands
8      1932          615  Los Angeles               United States
9      1936          875       Berlin                     Germany
10     1948          814       London              United Kingdom
11     1952          889     Helsinki                     Finland
12     1956          885    Melbourne                   Australia
13     1960          882         Rome                       Italy
14     1964         1010        Tokyo                       Japan
15     1968         1031  Mexico City                      Mexico
16     1972         1185       Munich  West Germany (now Germany)
17     1976         1305     Montreal                      Canada
18     1980         1387       Moscow       U.S.S.R. (now Russia)
19     1984         1459  Los Angeles               United States
20     1988         1546        Seoul                 South Korea
21     1992         1705    Barcelona                       Spain
22     1996         1859      Atlanta               United States
23     2000         2015       Sydney                   Australia
24     2004         1998       Athens                      Greece
25     2008         2042      Beijing                       China

our task here is to prepare a DataFrame ioc_codes from a comma-separated values (CSV) file.

Initially, ioc_codes has 200 rows (one for each country) and 3 columns: 'Country', 'NOC', & 'ISO code'.

For the analysis that follows, you want to keep only the useful columns from ioc_codes: 'Country' and 'NOC' (the column 'NOC' contains three-letter codes representing each country).

In [3]:
file_path = "C:/repos/data_notes/databases/Summer_Olympic_medals/Summer Olympic medalists 1896 to 2008 - IOC COUNTRY CODES.csv"

# Load DataFrame from file_path: ioc_codes
ioc_codes = pd.read_csv(file_path)

# Extract the relevant columns: ioc_codes
ioc_codes = ioc_codes[["Country", "NOC"]]

# Print first and last 5 rows of ioc_codes
print(ioc_codes.head())
print(ioc_codes.tail())

Country  NOC
0      Afghanistan  AFG
1          Albania  ALB
2          Algeria  ALG
3  American Samoa*  ASA
4          Andorra  AND
             Country  NOC
196          Vietnam  VIE
197  Virgin Islands*  ISV
198            Yemen  YEM
199           Zambia  ZAM
200         Zimbabwe  ZIM

```
# Import pandas
import pandas as pd

# Create empty dictionary: medals_dict
medals_dict = {}

for year in editions['Edition']:

    # Create the file path: file_path
    file_path = 'summer_{:d}.csv'.format(year)
    
    # Load file_path into a DataFrame: medals_dict[year]
    medals_dict[year] = pd.read_csv(file_path)
    
    # Extract relevant columns: medals_dict[year]
    medals_dict[year] = medals_dict[year][["Athlete", "NOC", "Medal"]]
    
    # Assign year to column 'Edition' of medals_dict
    medals_dict[year]['Edition'] = year
    
# Concatenate medals_dict: medals
medals = pd.concat(medals_dict, ignore_index = True)

# Print first and last 5 rows of medals
print(medals.head())
print(medals.tail())
```

In [5]:
file_path = "C:/repos/data_notes/databases/Summer_Olympic_medals/Summer Olympic medalists 1896 to 2008 - ALL MEDALISTS.tsv"

# Load DataFrame from file_path: ioc_codes
medals = pd.read_csv(file_path, sep="\t")

print(medals.head())
print(medals.tail())

List of medallists at the Games of the Olympiad per edition, sport, discipline, gender and event  \
0                                                NaN
1  DISCLAIMER: The IOC Research and Reference Ser...
2                                                NaN
3                                               City
4                                             Athens

  Unnamed: 1 Unnamed: 2  Unnamed: 3     Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0        NaN        NaN         NaN            NaN        NaN        NaN
1        NaN        NaN         NaN            NaN        NaN        NaN
2        NaN        NaN         NaN            NaN        NaN        NaN
3    Edition      Sport  Discipline        Athlete        NOC     Gender
4       1896   Aquatics    Swimming  HAJOS, Alfred        HUN        Men

       Unnamed: 7    Unnamed: 8 Unnamed: 9
0             NaN           NaN        NaN
1             NaN           NaN        NaN
2             NaN           NaN        NaN
3           Event  Event_gender      Medal
4  100m freestyle             M       Gold
      List of medallists at the Games of the Olympiad per edition, sport, discipline, gender and event  \
29215                                            Beijing
29216                                            Beijing
29217                                            Beijing
29218                                            Beijing
29219                                            Beijing

      Unnamed: 1 Unnamed: 2       Unnamed: 3            Unnamed: 4 Unnamed: 5  \
29215       2008  Wrestling  Wrestling Gre-R        ENGLICH, Mirko        GER
29216       2008  Wrestling  Wrestling Gre-R  MIZGAITIS, Mindaugas        LTU
29217       2008  Wrestling  Wrestling Gre-R       PATRIKEEV, Yuri        ARM
29218       2008  Wrestling  Wrestling Gre-R         LOPEZ, Mijain        CUB
29219       2008  Wrestling  Wrestling Gre-R        BAROEV, Khasan        RUS

      Unnamed: 6  Unnamed: 7 Unnamed: 8 Unnamed: 9
29215        Men   84 - 96kg          M     Silver
29216        Men  96 - 120kg          M     Bronze
29217        Men  96 - 120kg          M     Bronze
29218        Men  96 - 120kg          M       Gold
29219        Men  96 - 120kg          M     Silver

```
# Construct the pivot_table: medal_counts
medal_counts = medals.pivot_table(index = "Edition", values = "Athlete", columns = "NOC", aggfunc = "count")

# Print the first & last 5 rows of medal_counts
print(medal_counts.head())
print(medal_counts.tail())


# Apply the expanding mean: mean_fractions
mean_fractions = fractions.expanding().mean()

# Compute the percentage change: fractions_change
fractions_change = mean_fractions.pct_change() * 100

# Reset the index of fractions_change: fractions_change
fractions_change = fractions_change.reset_index()

# Print first & last 5 rows of fractions_change
print(fractions_change.head())
print(fractions_change.tail())
``` 

```
# Import pandas
import pandas as pd

# Left join editions and ioc_codes: hosts
hosts = pd.merge(editions, ioc_codes, how = "left")

# Extract relevant columns and set index: hosts
hosts = hosts[["Edition", "NOC"]].set_index("Edition")

# Fix missing 'NOC' values of hosts
print(hosts.loc[hosts.NOC.isnull()])
hosts.loc[1972, 'NOC'] = 'FRG'
hosts.loc[1980, 'NOC'] = 'URS'
hosts.loc[1988, 'NOC'] = 'KOR'

# Reset Index of hosts: hosts
hosts = hosts.reset_index()

# Print hosts
print(hosts)
```